.small-slider {
    display: none;
}

@media (min-width: $desktopResolution) {
    .small-slider {
        display: block;
        background-color: transparent;
        position: absolute;
        top: 214px;
        right: -150px;
        z-index: 800;

        ul {
            display: flex;
            max-width: 688px;
            flex-wrap: nowrap;
            flex-shrink: 0;
        }

        li {
            width: 100%;
            min-width: 344px;
            box-sizing: border-box;
            padding: 34px;
        }

        .swiper-slide {
            opacity: 0;
        }

        .swiper-slide-active {
            border-right: 1px solid rgba(255, 255, 255, 0.1);
            opacity: 1;
        }

        .swiper-slide-next {
            opacity: 0.4;
        }

        .swiper-slide-prev {
            opacity: 0;
        }

        li {
            b {
                font-weight: bold;
                font-size: 64px;
                line-height: 78px;
                font-weight: bold;
                margin-bottom: 24px;
                color: $mainColor;
            }

            p {
                font-size: 14px;
                line-height: 22px;
                color: rgba(255, 255, 255, 0.7);
            }

            &:last-of-type {
                border: none;
            }
        }
    }
}
