$montserrat: "Montserrat", "Arial", sans-serif;

$textColor: #2b2d3a;
$mainColor: #397dff;
$headerColor: #ebeef5;
$whiteColor: #ffffff;

$tabletResolution: 768px;
// 1140 + 20 + 20
$desktopResolution: 1180px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
